{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col-md-6">
			<div class="thumbnail text-center" style="width: 30rem; height:auto; border: 2px,solid, #F5245F;">
			<h5 class="card-header" style="font-size: 16px; font-weight: bold;">Product:{{category.title}}</h5>
			<h5 class="card-header" style="color: #F5245F;"><em>Category:{{category.category}}</em></h5>
			<div class="card-body">
        <hr>
				<blockquote class="blockquote mb-0">
					<p style="font-size: 12px;">{{category.description}}</p>
					<footer class="blockquote-footer"> Posted by:{{category.user.username}}</footer>
				</blockquote>
			</div>
		</div>
		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}